Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Flask-Bcrypt==1.0.1
Flask-CORS==4.0.0
Pillow==10.2.0
opencv-python==4.9.0.80
pytesseract==0.3.10
torch==2.2.1
torchvision==0.17.1
ultralytics==8.1.28
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.1.post1
matplotlib==3.8.3
seaborn==0.13.2
requests==2.31.0
python-dotenv==1.0.1
Werkzeug==3.0.1
SQLAlchemy==2.0.27
tqdm==4.66.2
